<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>   </title>
</head>
<body>
<h1>index.html</h1>
<h1>=================</h1>
<h1>Index</h1>
<h1>=================</h1>
<a th:href="@{/login}" >Log in >></a>



</body>
</html>